@import "../../scss/mixins";

.card-container {
  &__grid {
    display: block;

    @include md {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }

  &__list {
    display: block;
  }
}
