@import "../scss/variables";

.intro-text {
  margin-bottom: 2rem;

  h1 {
    font-family: $secondary-font;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    li {
      list-style-position: inside;
      margin-bottom: 0.25rem;
    }
  }
}
