@import "../scss/variables";

.intro-text {
  margin-bottom: 2rem;

  h1 {
    font-family: $secondary-font;
  }
}

.btn-quiz-link {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  svg {
    width: 18px;
    height: 18px;
    fill: white;
    margin-left: 0.5rem;
  }
}
