.card-container {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  &__list {
    display: block;
  }
}

.btn-quiz-link {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  svg {
    width: 18px;
    fill: white;
    margin-left: 0.5rem;
  }
}
