@import "../scss/variables";

.quiz-container {
  .questions {
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 1rem;
    }
  }

  .score-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
