.view-buttons {
  position: fixed;
  bottom: 2rem;
  left: 2rem;

  button {
    &:first-of-type {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-of-type {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    svg {
      width: 12px;
      fill: white;
      margin-left: 0.5rem;
    }
  }
}
