@import "../../scss/mixins";

.view-buttons {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 5;
  display: none;

  @include md {
    display: block;
  }

  button {
    &:first-of-type {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-of-type {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    svg {
      width: 12px;
      height: 12px;
      fill: white;
      margin-left: 0.5rem;
    }
  }
}
